#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  /* Light theme */
  --text-color: #213547;
  --background-color: #d0d9e8;

  /* Dark theme */
  --text-color-dark: rgba(255, 255, 255, 0.87);
  --background-color-dark: #738290;
}

body.light-theme {
  color: var(--text-color);
  background-color: var(--background-color);
}

body.dark-theme {
  color: var(--text-color-dark);
  background-color: var(--background-color-dark);
}

.disney-header {
  background-image: url("./disneyCharacters.jpeg");
  background-size: cover;
  background-position: center;
  padding: 100px;
}

.button {
  position: absolute;
  top: 20px;
  right: 30px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #0056b3;
  color: var(--text-color-dark);
  border-radius: 8px;
}

.button:hover {
  background-color: var(--background-color-dark);
  color: var(--text-color);
}

.dark-theme .button:hover {
  background-color: var(--background-color);
  color: var(--text-color);
}

.footer > p {
  margin: 0px;
}

.footer > a {
  color: blue;
  padding: 5px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
