#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
}

:root {
  /* Light theme */
  --text-color: #213547;
  --background-color: #d0d9e8;

  /* Dark theme */
  --text-color-dark: rgba(255, 255, 255, 0.87);
  --background-color-dark: #738290;
}

.theme-light {
  color: var(--text-color);
  background-color: var(--background-color);
}

.theme-dark {
  color: var(--text-color-dark);
  background-color: var(--background-color-dark);
}

.header-container {
  position: relative;
}

.CustomizedSwitchesContainer {
  position: absolute;
  top: 20px;
  right: 30px;
}

.disney-header {
  background-image: url("./disneyCharacters.jpeg");
  background-size: cover;
  background-position: center;
  padding: 100px;
}

.footer > p {
  margin: 0px;
}

.footer > a {
  color: blue;
  padding: 5px;
}
